<div class="container">
  <div class="gallery">
    <div class="gallery__card">
      <a href="" class="gallery__link">
        <img
          src="https://image.tmdb.org/t/p/w780/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg"
          class="gallery__image"
          alt="vdfvd"
          loading="lazy"
          height="575"
          width="395"
        />
      </a>
    </div>
    <div class="gallery__card">
      <a href="" class="gallery__link">
        <img
          src="https://image.tmdb.org/t/p/w780/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg"
          class="gallery__image"
          alt="vdfvd"
          loading="lazy"
          height="575"
          width="395"
        />
      </a>
    </div>
    <div class="gallery__card">
      <a href="" class="gallery__link">
        <img
          src="https://image.tmdb.org/t/p/w780/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg"
          class="gallery__image"
          alt="vdfvd"
          loading="lazy"
          height="575"
          width="395"
        />
      </a>
    </div>
    <div class="gallery__card">
      <a href="" class="gallery__link">
        <img
          src="https://image.tmdb.org/t/p/w780/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg"
          class="gallery__image"
          alt="vdfvd"
          loading="lazy"
          height="575"
          width="395"
        />
      </a>
    </div>
    <div class="gallery__card">
      <a href="" class="gallery__link">
        <img
          src="https://image.tmdb.org/t/p/w780/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg"
          class="gallery__image"
          alt="vdfvd"
          loading="lazy"
          height="575"
          width="395"
        />
      </a>
    </div>
  </div>
</div>
