<div class="container">
  <div class="gallery">
    <!-- <div class="gallery__card">
      <a href="" class="gallery__link">
        <img
          src="https://image.tmdb.org/t/p/w780/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg"
          class="gallery__image"
          alt="vdfvd"
          loading="lazy"
          height="575"
          width="395"
        />
      </a>
      <ul class="gallery__descr-list">
        <li><p class="gallery__title">Thor: Love and Thunder</p></li>
        <li><p class="gallery__genre">Drama, Action | 2020</p></li>
      </ul>
    </div> -->
  </div>
  <div id="tui-pagination-container" class="tui-pagination"></div>
</div>
