<div class="container header-container">
  <div class="menu">
    <div class="menu__logo">
      <a href="#" class="menu__icon">
        <!-- <svg class="site-icon" width="24" height="24">
        <use href="../../images/SVG/film.svg"></use>
      </svg> -->
        <img src="./images/SVG/film.svg" alt="" />
      </a>
      <p class="menu__text">Filmoteka</p>
    </div>

    <nav>
      <ul class="navigation-list">
        <li class="navigation-list__item">HOME</li>
        <li class="navigation-list__item">MY LIBRUARY</li>
      </ul>
    </nav>
  </div>
  <form name="search" class="search-form">
    <input name="formInput" type="text" class="form-input" />
    <button name="formSubmit" type="submit" class="button-submit"></button>
    <p class="search-error">
      Search result not successful. Enter the correct movie name and try again.
    </p>
  </form>
</div>
